@import "tailwindcss";

:root {
    --background: #fcfdff;
    --foreground: #171717;
    --white: #fcfdff;
    --mainblack: #121315;
    --lightblack: #26272b;
    --gray: #696e70;
    --lightGray: #252929;
    --mainwhite: #fcfdff;
    --blue: #0b68e7;
    --blueHover: #0b51b3;
    --errorRed: #f94a24;
    --red: #fcd9e2;
    --redFull: #eaa1b7;
    --mainGreen: #2fab5c;
    --green: #cbf6e8;
    --greenFull: #4eba99;
    --purple: #cbcbf8;
    --purpleFull: #4318ff;
    --mainOrange: #f6901a;
    --orange: #f6daaf;
    --orangeFull: #e39520;
    --yellow: #fcf3c0;
    --yellowFull: #d0b82f;
}

@theme inline {
    --color-background: var(--mainblack);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-mainblack: var(--mainblack);
    --color-lightblack: var(--lightblack);
    --color-gray: var(--gray);
    --color-lightGray: var(--lightGray);
    --color-mainwhite: var(--white);
    --color-blue: var(--blue);
    --color-blueHover: var(--blueHover);
    --color-errorRed: var(--errorRed);
    --color-red: var(--red);
    --color-redFull: var(--redFull);
    --color-mainGreen: var(--mainGreen);
    --color-green: var(--green);
    --color-greenFull: var(--greenFull);
    --color-purple: var(--purple);
    --color-purpleFull: var(--purpleFull);
    --color-mainOrange: var(--mainOrange);
    --color-orange: var(--orange);
    --color-orangeFull: var(--orangeFull);
    --color-yellow: var(--yellow);
    --color-yellowFull: var(--yellowFull);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    background: var(--mainblack);
    color: var(--white);
    font-family: var(--font-geist-sans) sans-serif;
}

input:focus,
textarea:focus {
    outline: none;
}

input:focus::placeholder,
textarea:focus::placeholder {
    opacity: 0;
    transition: all .1s ease;
}

.logo {
    font-family: var(--font-oswald) sans-serif;
}

/* Для WebKit браузеров (Chrome, Safari, новый Edge) */
::-webkit-scrollbar {
    display: none;
}

.modal {
    /* Для Firefox */
    scrollbar-width: none;

    /* Для IE и Edge */
    -ms-overflow-style: none;
}